[user]
	name = Moises Gonzalez
	email = mgondev@gmail.com
  signingkey = 90FDFE146A58C953EFC09C55BDBAC285E6C2C540
[core]
	editor = vim
[alias]
	graph = log --graph --oneline --decorate
	sp = ! git stash -u && git pull && git stash pop
	l = log
	lo = log --oneline
	d = diff
	a = add
	aa = add --all
	c = commit
	s = switch
	st = status
	m = merge
	p = push
	pp = pull
	r = rebase
[status]
	submoduleSummary = true
[diff]
	submodule = log
[credential]
	helper = cache
[sendemail]
  smtpserver = /usr/bin/sendmail
  smtpserveroption = -S mail:1025
[commit]
	gpgsign = true
